@import url("https://fonts.googleapis.com/css?family=Heebo:400,700|Open+Sans:400,700");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Open Sans";
  background: #fafafa;
}

a {
  color: inherit;
}

.cards-wrapper {
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 4rem;
  padding: 4rem;
  margin: 0 auto;
  width: max-content;
}

.card {
  font-family: "Heebo";
  height: 18em;
  width: 15em;
  font-size: 1.5em;
  color: white;
  border-radius: 8px;
  padding: 1em 0.2em;
  /*margin: 2em;*/
  display: flex;
  align-items: flex-end;
  background-size: cover;
  background-position: center;
  box-shadow: 0px 2px 16px 2px #0000004f;
  transition: all, 0.5s;
  position: relative;
  overflow: hidden;
  border: 2px solid #ccc;
  text-decoration: none;
}
.img-title {
  background-size: 300px 100px;
  background-origin: content-box;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.image-card {
  background-size: "300px 100px";
  background-origin: "content-box";
  width: "100%";
}
.card h1 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.2em;
}
.card h3,
h4,
h5,
h6 {
  margin: 0;

  line-height: 1.2em;
}

.card p {
  font-size: 0.65em;
  font-family: "Open Sans";
  margin-top: 0.5em;
  line-height: 2em;
}

.card .tags {
  display: flex;
  float: right;
}

.card .tags .tag {
  font-size: 0.75em;
  background: rgba(255, 255, 255, 0.5);
  border-radius: 0.3rem;
  padding: 0.2em 0.5em;
  margin-right: 0.5em;
  line-height: 1.5em;
  transition: all, 0.5s;
  border: 1px solid gray;
  cursor: pointer;
}
/*
.card:hover .tags .tag {
  background: #3c3163;
  color: white;
}*/
.tags:hover .tag {
  background: #3c3163;
  color: white;
}
.tag a {
  text-decoration: none;
}

.card .date {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
}
.card .remove {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 0.75em;
  padding: 1em;
  line-height: 1em;
  opacity: 0.8;
  cursor: pointer;
}

.card:before,
.card:after {
  content: "";
  transform: scale(0);
  transform-origin: top left;
  border-radius: 50%;
  position: absolute;
  left: -50%;
  top: -50%;
  z-index: -5;
  transition: all, 0.5s;
  transition-timing-function: ease-in-out;
}

.card:before {
  background: #ddd;
  width: 250%;
  height: 250%;
}

.card:after {
  background: white;
  width: 200%;
  height: 200%;
}

.card {
  color: #3c3163;
}

.card:hover:before,
.card:hover:after {
  transform: scale(1);
}

.card-grid-space .num {
  font-size: 3em;
  margin-bottom: 1.2rem;
  margin-left: 1rem;
}

.info {
  font-size: 1.2em;
  display: flex;
  padding: 1em 3em;
  height: 3em;
}

.info img {
  height: 3em;
  margin-right: 0.5em;
}

.info h1 {
  font-size: 1em;
  font-weight: normal;
}
.des-info {
  width: 100%;
}

/* MEDIA QUERIES */
@media screen and (max-width: 1285px) {
  .cards-wrapper {
    grid-template-columns: 1fr 1fr;
  }
}

@media screen and (max-width: 900px) {
  .cards-wrapper {
    grid-template-columns: 1fr;
  }
  .info {
    justify-content: center;
  }
  .card-grid-space .num {
    margin-left: 0;
    text-align: center;
  }
}

@media screen and (max-width: 500px) {
  .cards-wrapper {
    padding: 4rem 2rem;
  }
  .card {
    max-width: calc(100vw - 4rem);
  }
}

@media screen and (max-width: 450px) {
  .info {
    display: block;
    text-align: center;
  }
  .info h1 {
    margin: 0;
  }
}
